.todo-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 22px;
}

.todo-list-item-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../../../public/icons/circle-uncompleted-icon.png');
    background-position: center;
    background-size: contain;
}

.todo-list-item.complete p {
    opacity: 0.4;
}

.todo-list-item.complete span {
    background-image: url('../../../public/icons/icon-completed.png');
}