.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 22px;
    cursor: pointer;
    transition: color 500ms, font-size 500ms;
}

.todo-list-item:hover {
    font-size: 24px;
}

.todo-list-wrapper {
    display: flex;
    justify-content: space-between;
    flex-basis: 90%;
}

.todo-list-item-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
}

.todo-list-item-icon--circle {
    margin-right: 15px;
    background-image: url('../../../public/icons/circle-uncompleted-icon.png');
}

.todo-list-item-icon--circle:hover {
    background-image: url('../../../public/icons/icon-incompleted.png');
}

.todo-list-item-icon--delete {
    width: 33px;
    height: 33px;
    background-image: url('../../../public/icons/delete-icon.png');
}

.todo-list-item-icon--delete:hover {
    background-image: url('../../../public/icons/delete-icon-hover.png');
}

.todo-list-item:hover.complete {
    color: inherit;
}

.todo-list-item.complete p {
    opacity: 0.4;
}

.todo-list-item.complete .todo-list-item-icon--circle {
    background-image: url('../../../public/icons/icon-completed.png');
}