.App {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #595c6c;
}

.main {
  position: relative;
  margin: 120px auto;
  padding: 50px;
  width: 300px;
  height: fit-content;
  font-size: 18px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #dddcdc;
}

.sidemenu {
  position: relative;
  padding: 120px 50px;
  width: 300px;
}

.sidemenu::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -50px;
  left: -400px;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #60d8a6;
}