.btn-add {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
    background-color: #60d8a6;
    background-image: url('../../../public/icons/plus-icon.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}